{% extends "base.html" %} {%block head%}
<title>Home</title>
{%endblock %} {%block body%}
<br>
<br>


<h1>Home Page</h1>
<br>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to MultiTaskers</h1>
        <p>Best place for classifying, compressig and sorting up your images</p>
        <p>You can put any of your image and the required size to compress below it, even can ask to classify the image.</p>
        <p>
          <a class="btn btn-primary" href="/arena" role="button">Go to Arena &raquo;</a>
        </p>
      </div>
    </div>
  </main>
</div>
{%endblock %}
 